/* colors palette
pink E53170 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: 'Fredoka', sans-serif;
}
h1{
    color:rgb(229,49,112);
    padding: 50px 50px;
}
header{
    text-align: center;
    padding: 50px 50px;
}