/* colors palette
pink E53170 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/* HEADER */
header{
    text-align: center;
    padding-top:  50px;
    padding-bottom: 50px;
}
h1{
    color:rgb(229,49,112);
    padding: 50px 50px;
}

/* MAIN */
.card{
    color: white;
    background-color: black;
    width: calc(100%/3);
    float: left;
    border: 10px solid;
}
.description{
    padding-left: 115px;
    padding-top: 5px;
}

a{
    color: rgb(31,92,136);
}
img{
    float: left;
    height: 100px;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}